* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.active {
  font-size: 45px;
  color: white;
  margin-top: 5px;
}

.row {
  padding-top: 50px;
}

.topnav {
  display: flex;
  width: 100%;
  height: 65px;
  position: fixed;
  background-color: #000000;
  z-index: 100;
  justify-content: space-between;
  list-style: none;
  margin-top: 0;
}

.mob {
  font-family: din-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 45px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  /* If i want my links to be a box */
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
}

.topnav li:hover:not(.active) {
  background: #f200ff;
}

.topnav li {
  color: #fff;
  float: left;
  line-height: 50px;
}

.search-box {
  background: #e8e8e4;
  width: 300px;
  height: 60px;
  line-height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-top: 4px solid #f200ff;
  display: none;
}

.search-box:before {
  content: "";
  position: absolute;
  top: -40px;
  right: 13px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 14px solid #f200ff;
}

.search-box input [type="text"] {
  width: 120px;
  padding: 10px 10px;
  margin-left: 23px;
  border: 1px solid #f200ff;
  outline: none;
}

.search-box input[type="button"] {
  width: 120px;
  padding: 10px 10px;
  background: #f200ff;
  outline: none;
  cursor: pointer;
  color: #fff;
}

/* The dropdown container */
.dropdown {
  float: left;
  font-family: din-condensed, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 45px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  /* If i want my links to be a box */
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-family: din-condensed, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: 45px;
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  /* If i want my links to be a box */
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  border: none;
  outline: none;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a pink background color to navbar links on hover */
.mob :hover,
.dropdown:hover .dropbtn {
  background-color: #f200ff;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.slick-center {
  color: #f200ff;
  transform: scale(1.1);
}

.slick-dots li button:before {
  color: white;
}


h1 {
  font-family: din-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 46px;
  margin: 0;
  text-align: left;
}

h2 {
  font-family: din-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  color: #ffffff;
  margin-left: 50%;
  text-align: left;
}

h3 {
  font-family: din-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 46px;
  margin: 0;
  text-align: center;
}

h4 {
  font-family: din-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 80px;
  margin-left: 50%;
  text-align: left;
}

h5 {
  font-family: din-condensed, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 76px;
  color: #ffffff;
  position: relative;
  z-index: 10;
  margin-left: 50%;
  margin-bottom: 0em;
  margin-top: 2em;
  text-align: left;
}

p {
  margin-top: 10px;
  font-family: acumin-pro, sans-serif;
}

.card-title {
  font-family: acumin-pro, sans-serif;
  font-size: 25px;
  padding: 5px;
}

.signup {
  width: 100%;
  padding: 30px;
  background-image: linear-gradient(to bottom right, #bb3990, #4352a3);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signup-header {
  width: 100%;
  padding: 10px;
  color: white;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  border-bottom: 2px solid white;
  margin-bottom: 30px;
}

.form-input {
  width: 50%;
  padding: 10px;
  border: 1px solid white;
  background-color: white;
  color: white;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-input::placeholder {
  color: #000000;
}

.submit-button {
  background-color: white;
  width: 25%;
  padding: 10px;
  color: #4352a3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.artists {
  font-weight: 500;
  color: #f200ff;
}

header {
  width: 100%;
  overflow: hidden;
  background-image: url(../images/realbanner.jpg);
}
.card {
  width: 250px;
}

.main {
  margin-top: 30px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.Eel-logo {
  width: 26%;
  right: 12%;
  position: absolute;
  z-index: 0;
}

.hashtag {
  margin-bottom: 10px;
  width: 100%;
  height: 80px;
  align-self: center;
  padding-bottom: 20px;
}

.container {
  flex: auto;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 500px;
  background-color: #000000;
  padding-top: 35px;
  padding-left: 30px;
}

.leftpane {
  width: 30%;
  padding-top: 180px;
  height: 300px;
  padding-left: 30px;
  float: left;
  border-collapse: collapse;
}

.mapicon {
  height: 58px;
  align-self: flex-end;
}

.map-location {
  align-self: center;
}

.middlepane {
  width: 490px;
  padding-top: 20px;
  float: left;
  border-collapse: collapse;
}

.lowerhashtag {
  align-self: center;
}

.rightpane {
  width: 30%;
  padding-top: 120px;
  padding-left: 60px;
  float: right;
  border-collapse: collapse;
}

nav.vertical-menu a {
  width: 240px;
  display: block;
  padding: 5px;
  font-family: din-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 45px;
  text-decoration: none;
}

nav.vertical-menu a:hover {
  background-color: #ccc;
}

nav.vertical-menu a.active {
  background-color: #04aa6d;
  color: white;
}

.blurb {
  width: 100%;
  background-color: #000000;
  margin: 0 auto;
  color: #ffffff;
  padding: 30px 30px;
}

.articles {
  display: flex;
  align-items: stretch;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #ffffff;
}

.articles article {
  background-color: #f200ff;
  margin-bottom: 2px;
  margin-left: 30px;
  margin-right: 30px;
  max-height: 180px;
  border-radius: 25px;
  flex: 1;
  padding: 10px 10px;
}

.buynow {
  width: 100%;
  height: 100px;
  flex: 1;
  margin-bottom: 2px;
}

.disclaimer {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  min-height: 100px;
  padding: 30px 30px;
}

.footer {
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  width: 100%;
  height: 20px;
  min-height: 100px;
  padding: 10px 10px;
}

@media screen and (max-width: 600px) {
  ul {
    width: 200px;
  }
  li {
    width: 100px;
  }
  li.mob {
    display: none;
  }
  .topnav li.active {
    text-align: right;
  }
  .search-box {
    width: 270px;
    right: -16px;
  }
  .search-box input[type="text"] {
    width: 140px;
    margin-left: 15px;
  }
  .search-box input[type="button"] {
    margin-right: 12px;
  }
}
